.App {
 /* text-align: center;*/
}
.App-link {
  color: #61dafb;
}
body {
  background-color: #eeeeee;
}

/*striped rows*/
.card:nth-child(even) {
  background-color: #cccccc;
}

.card:nth-child(odd) {
  background-color: #eeeeee;
}
/*striped rows*/

.first-name {
  font-size: 25px;
  padding: 0;
  color: #666666;
}
.search-form {
  padding: 15px;
}
.my-modal {
  padding: 20px;
  width: auto;
  height: auto;
}
.title {
  text-align: center;
  color: #666666;
  padding: 15px;
}
.btn-chart {
  text-align: right;
  margin-right: 30px;
}
.search-title {
  text-align: right;
}